#################
## Project
#################
Debug/*

!Debug/patronus-usb.hex


############
## OS Files
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

.project
.settings
.cproject

